html {
    background-color: darkslategray;
    width: 60%;
    margin: auto;
}

#main-title {
    margin: auto;
    color: lightblue;
    text-align: center;
    border-radius: 10px;
    border: 1px solid lightblue;
    padding: 5px;
}

#game-form {
    background-color: #1C4B46;
    margin: 15px auto;
    padding: 20px;
    width: 45%;
    text-align: center; 
    border: 1px dashed whitesmoke;
    border-radius: 10px;
}

#game-form-title {
    color: whitesmoke;
    margin: 0;
    margin-bottom: 15px;
}

#game-name {
    color: whitesmoke;
    background-color: black;
    text-align: center;
    text-decoration: underline;
    margin: 10px auto;
    margin-bottom: 0;
    padding: 5px;
    border: 2px solid red;
    width: 30%;
}

.game-form-labels {
    color: whitesmoke;
    font-size: x-large;
}

.game-form-fields {
    width: 40%;
}

#game-form-submit {
    font-size: medium;
}

#split-form {
    background-color: #1C4B46;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    width: 45%;
    text-align: center; 
    border: 1px dashed whitesmoke;
    border-radius: 10px;
}

.split-form-labels {
    display: block;
    color: whitesmoke;
    font-size: x-large;
    margin-bottom: 5px;
}

.split-form-titles {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 40%;
}

#add-split-btn {
    margin-top: 5px;
    margin-right: 2px;
}

#submit-splits-btn {
    margin-top: 5px;
    margin-left: 2px;
}

.split-title {
    color: whitesmoke;
    background-color: black;
    margin: auto;
    text-align: left;
    width: 31%;
    border: 2px solid red;
    border-top: 0;
    padding: 2px;
}

#game-list-div h2 {
    color: lightblue;
    text-align: center;
}

#game-list-title {
    color: whitesmoke;
    text-decoration: underline;
    margin: auto;
    text-align: center;
}
