html {
    background-color: darkslategray;
    width: 75%;
    margin: auto;
}

#main-title {
    margin: auto;
    color: lightblue;
    text-align: center;
    border-radius: 10px;
    border: 1px solid lightblue;
    padding: 5px;
}



#game-name {
    margin: 0;
}


.game-form-input {
    width: 150px;
    height: 12px;
    resize: none;
    display: block;
    margin: 10px auto;
}

.new-game-btn {
    display: block;
    text-align: center;
    margin: 10px auto;
    color: black;
    font-size: 15px;
    width: 25%;
}
