html {
    background-color: darkslategray;
    width: 60%;
    margin: auto;
}

#main-title {
    margin: auto;
    color: lightblue;
    text-align: center;
    border-radius: 10px;
    border: 1px solid lightblue;
    padding: 5px;
}

#game-form {
    margin: 15px auto;
    padding: 20px;
    width: 45%;
    text-align: center; 
    border: 1px dashed whitesmoke;
    border-radius: 10px;
}

#game-form-title {
    color: whitesmoke;
    margin: 0;
    margin-bottom: 15px;
}

.game-form-labels {
    color: whitesmoke;
    font-size: x-large;
}

.game-form-fields {
    width: 40%;
}

#game-form-submit {
    font-size: medium;
}